# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db

# Dependency directories
node_modules/

# Output build directories
dist/
build/
dist-ssr/
.next/
out/
coverage/

# Environment variables
.env
.env.local
.env.*.local

# Editor/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
*.local
